.App {
	text-align: center;
}

.neonText {
	text-align: center;
	font-family: "Invisible", sans-serif;
	font-size: 4.2rem;
	animation: flicker 0.1s infinite alternate;
	color: #fff;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f00, 0 0
		82px #f00, 0 0 92px #f00, 0 0 102px #f00, 0 0 151px #f00;
}
@keyframes flicker {
	0%,
	18%,
	22%,
	25%,
	53%,
	57%,
	100% {
		text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f00, 0 0
			80px #f00, 0 0 90px #f00, 0 0 100px #f00, 0 0 150px #f00;
	}

	20%,
	24%,
	55% {
		text-shadow: none;
	}
}

.joinChat {
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 2px solid #0ff35b;
	border-radius: 0.6em;
	color: #0ff35b;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}
.joinChat:hover {
	color: #fff;
	background-color: #0ff35b;
}

.messageInput {
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 2%;
}

.field {
	margin: 20px;
	padding: 1.5em 5em;
	text-align: center;
}

.message {
	color: #fff;
	position: absolute;
	bottom: 20%;
	width: 100%;
	text-align: center;
	font-size: 200px;
	font-family: "Who asks Satan", sans-serif;
}
.fadeOut {
	animation: fadeOut 5s linear;
	animation-fill-mode: forwards;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
