body {
	background-image: url("./assets/satan-bg.webp");
	margin: 0;
}
@font-face {
	font-family: "Who asks Satan";
	src: local("who_asks_satan"), url("./assets/fonts/who_asks_satan.woff")
		format("woff");
}
@font-face {
	font-family: "Invisible";
	src: local("Invisible-ExtraBold"),
		url("./assets/fonts/Invisible-ExtraBold.woff") format("woff");
}
